/*

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

*/


@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
  font-family: "Maven Pro", sans-serif;
  padding-top: 70px;
}

.full-screen {
  padding: 8rem 0;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

/* ul {
  margin: 0;
  padding: 0;
} */
ul {
  list-style-type: disc ;
  margin-bottom: 10px;
}
li{
margin-bottom: 5px;
}
/* ul li {
  list-style: none;
  
} */

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #ffc200 !important;
}

.navbar-brand .uil {
  font-size: 40px;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #5b5b5b;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 24px 0;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  font-weight: bold;
}

h3 {
  color: #484848;
}

h3,
b, strong {
  font-weight: bold;
}


.project-box {
  background-color: white; /* Background color of the box */
  padding: 20px; /* Padding around the content */
  border: 1px solid #ddd; /* Border color and thickness */
  border-radius: 8px; /* Border radius for rounded corners */
  text-align: left; /* Align text to the left within the box */
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1); /* Optional box shadow for a subtle lift */
  width: 100%; /* Adjust the width of the box */
  max-width: 800px; /* Set a maximum width for responsiveness */
  margin: 0 auto; /* Center the box horizontally */
}

.project-box img {
  max-width: 50%; /* Ensure the image doesn't exceed the box width */
  height: auto; /* Maintain the image aspect ratio */
  border-radius: 6px; /* Optional: Add border-radius to the image */
  margin-bottom: 10px; /* Optional: Add spacing between image and text */
  display: block; 
  margin: 0 auto; 
  /* float: right; /* Float the image to the right */
  /* margin: 0 auto; */ 
  /* margin-left: 10px; Optional: Add spacing between image and text */
}



.project-box h3 {
  color: black; /* Color of the heading */
  font-size: 24px; /* Font size of the heading */
  margin-bottom: 10px; /* Bottom margin for the heading */
}

.project-box p {
  color: black; /* Color of the paragraph text */
  font-size: 16px; /* Font size of the paragraph text */
  line-height: 1.5; /* Line height for better readability */
}

.custom-btn {
  background: #eee;
  color: #5b5b5b;
  font-weight: bold;
  border-radius: 50px;
  padding: 13px 29px;
  font-size: 14px;
  line-height: normal;
  overflow: hidden;
  transition: all 0.4s ease;
}
.custom-btn:hover {
  color: #ffc200;
}
.custom-btn.custom-btn-bg {
  background: #474559;
  color: #ffffff;
}
.custom-btn.custom-btn-bg:hover {
  background: #ffc200;
  color: #ffffff !important;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: relative;
}

.animated-item {
  color: #ffc200;
}

.animated-item {
  font-size: 37px;
  line-height: 1;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  will-change: transform;
  transition: transform 200ms linear;
}
.navbar[class*="-unpinned"] {
  transform: translate(0, -150%);
}
.navbar[class*="-pinned"] {
  transform: translate(0, 0);
}
.navbar[class*="headroom--not-top"] {
  background: #ffffff;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-expand-sm .navbar-nav .nav-link {
  padding: 0 20px;
}

.nav-link {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
}
.nav-link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
.nav-link span:before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  transform: translate3d(0, 0, 0);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus span,
.navbar-light .navbar-nav .nav-link:hover span {
  transform: translateY(-100%);
}

.navbar-light .navbar-toggler-icon {
  background: none;
}

.navbar-toggler {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:first-child {
  transform: rotate(45deg);
  top: 6px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-child(2) {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:last-child {
  transform: rotate(-45deg);
  bottom: 1px;
}
.navbar-toggler .navbar-toggler-icon {
  background: #212121;
  display: block;
  width: 100%;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s ease;
  position: relative;
}

.copyright-text {
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.color-mode {
  font-weight: bold;
  cursor: pointer;
}

.color-mode-icon {
  position: relative;
  right: 6px;
}
.color-mode-icon:after {
  font-family: 'unicons';
  content: '\ea9f';
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
}
.color-mode-icon.active:after {
  font-family: 'unicons';
  content: '\eb65';
  font-size: 30px;
  color: #ffffff;
}

.dark-mode {
  background: #0c0c0d;
}
.dark-mode .navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8);
}
.dark-mode .navbar-light .navbar-nav .nav-link:hover {
  color: #ffc200;
}
.dark-mode .navbar[class*="headroom--not-top"] {
  background: #0c0c0d;
  border-bottom: 1px solid #1f1f1f;
}
.dark-mode .small-text {
  background: #0d0c15;
  color: #ffffff;
}
.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6,
.dark-mode .color-mode {
  color: #ffffff;
}
.dark-mode .owl-carousel .owl-nav button.owl-next,
.dark-mode .owl-carousel .owl-nav button.owl-prev,
.dark-mode .owl-carousel button.owl-dot {
  color: #ffffff;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  content: "";
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #474559;
  border-radius: 50%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #474559;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.owl-carousel .owl-nav span {
  display: none;
}
.owl-carousel .owl-nav .owl-prev:before,
.owl-carousel .owl-nav .owl-next:before {
  background: none;
  padding: 0;
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'unicons';
  font-size: 100px;
  line-height: normal;
}
.owl-carousel .owl-nav .owl-prev:before {
  content: '\e833';
  left: -45px;
}
.owl-carousel .owl-nav .owl-next:before {
  content: '\e836';
  right: -45px;
}

.owl-theme .owl-nav [class*=owl-] {
  background: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  color: #ffc200;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #5b5b5b;
}

.google-map iframe {
  width: 100%;
}

.contact-form {
  position: relative;
}
.contact-form .form-control {
  background: transparent;
  border-radius: 2px;
  outline: none;
  box-shadow: none;
  font-weight: bold;
  margin: 16px 0;
}
.contact-form .form-control:not(textarea) {
  height: 48px;
}
.contact-form .form-control:hover, .contact-form .form-control:focus {
  border-color: #ffc200;
}
.contact-form .submit-btn {
  background: #ffc200;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.contact-form .submit-btn:hover {
  background: #474559;
}

.contact-info {
  background: #474559;
  border-radius: 0 0 3px 3px;
  position: relative;
  bottom: 8px;
}
.contact-info p, .contact-info a {
  color: #f7f3f3;
}

.social-links .uil {
  color: #f7f3f3;
  font-size: 20px;
  display: block;
  margin: 5px 0;
}
.social-links .uil:hover {
  color: #ffc200;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e6e6e6;
  left: 50%;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 480px) {
  .timeline:before {
    margin-left: -64px;
  }
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading {
    margin-bottom: 30px;
  }
}
.timeline .timeline-heading > div h3 {
  display: inline-block;
  padding: 7px 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  background: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline .timeline-heading > div h3 {
    float: left;
    margin-bottom: 0;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .timeline > li {
    margin-bottom: 4em;
  }
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 45%;
  float: left;
  margin-bottom: 0;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-panel {
    width: 85% !important;
  }
}
@media screen and (max-width: 480px) {
  .timeline > li > .timeline-panel {
    width: 75% !important;
  }
  .timeline > li > .timeline-panel:before {
    top: 30px;
  }
  .timeline > li > .timeline-panel:after {
    top: 31px;
  }
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 44px;
  height: 44px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -21px;
  background-color: #FF9000;
  z-index: 100;
  display: table;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
@media screen and (max-width: 992px) {
  .timeline > li > .timeline-badge {
    margin-left: -10px !important;
  }
}
.timeline > li > .timeline-badge i {
  display: table-cell;
  vertical-align: middle;
  height: 44px;
  font-size: 18px;
}
.timeline > li.timeline-unverted {
  text-align: right;
}
@media screen and (max-width: 768px) {
  .timeline > li.timeline-unverted {
    text-align: left;
  }
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-title {
  margin-top: 0;
}

.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #bfbfbf;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
.progress-wrap {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.progress-wrap h3 {
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  float: left;
  width: 100%;
}
.progress-wrap h3 .name-left {
  float: left;
}
.progress-wrap h3 .value-right {
  float: right;
}

.progress {
  width: 100%;
  float: left;
  height: 5px;
  box-shadow: none;
}

.progress-bar {
  background-color: #2F3C4F;
  height: 5px;
  display: block;
  box-shadow: none;
}
.progress-bar.progress-bar-1 {
  background-color: #2980b9 !important;
}
.progress-bar.progress-bar-2 {
  background-color: #c0392b !important;
}
.progress-bar.progress-bar-3 {
  background-color: #d35400 !important;
}
.progress-bar.progress-bar-4 {
  background-color: #8e44ad !important;
}
.progress-bar.progress-bar-5 {
  background-color: #27ae60 !important;
}

.chart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.chart:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid orange; /* You can change the color as per your preference */
  border-radius: 50%;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.chart span {
  text-align: center;
}
.chart {
  width: 160px;
  height: 160px;
  margin: 0 auto 40px auto;
  position: relative;
  text-align: center;
}
.chart span {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
  width: 100%;
}
.chart span strong {
  display: block;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}


.chart-container {
  position: relative;
    width: 100px; /* Adjust the width of the circle container */
    height: 100px; /* Adjust the height of the circle container */
    margin: 0 auto; /* Center the container horizontally */
    border: 6px solid orange; /* Border style for the circle */
    border-radius: 70%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
}
.js .animate-box {
  opacity: 0;
}
.circle {
  width: 100px; /* Adjust the width of the circle */
  height: 100px; /* Adjust the height of the circle */
  border: 2px solid orange; /* Border style for the circle */
  border-radius: 70%; /* Make it a circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle strong {
  font-size: 16px; /* Adjust the font size of the text */
}

@media (max-width: 992px) {
  ul.timeline:before {
    left: 90px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    width: -webkit-calc(100% - 200px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

.company {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
  color: #bfbfbf;
}
.icon-suitcase:before {
  content: "\ea20";
}
.icon-graduation-cap:before {
  content: "\e9b1";
}

.dark-box {
	background: #F3F5F8;
	-webkit-box-shadow: 0px 3px 0px 0px #E04343;
	-moz-box-shadow: 0px 3px 0px 0px #E04343;
	box-shadow: 0px 3px 0px 0px #E04343;
	padding:20px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.dark-box:hover,.dark-box:focus {
	-webkit-box-shadow: 0px 3px 0px 0px #FFE801;
	-moz-box-shadow: 0px 3px 0px 0px #FFE801;
	box-shadow: 0px 3px 0px 0px #FFE801;
}
.box-hover {
	transition:all 500ms ease-in-out;
	-webkit-transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;
}
.box-hover:hover,.box-hover:focus {
	transform:translate(0,-15px);
	-webkit-transform:translate(0,-15px);
	-ms-transform:translate(0,-15px);
}
.contact-details {
	margin:70px 0;
}
.contact-details h2 {
	font-size:20px;
}
.contact-details h2 span {
	display:block;
	color:#545454;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:14px;
	margin-top:15px;
}
.contact-wrap {
	position:relative;
}

.icon-pie-chart2:before {
  content: "\eb58";
}
.icon-chart:before {
  content: "\eaaa";
}
.icon-pie-chart:before {
  content: "\e9f6";
}
.icon-pie-chart2:before {
  content: "\eb58";
}
.progress {
  height: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 6px;
  line-height: 10px;
  color: #fff;
  text-align: center;
  background-color: #ffc200; /* Progress bar color */
  transition: width 0.6s ease;
}

.progress-bar-small {
  font-size: 10px;
  line-height: 20px;
}

.text-top {
  display: block;
  margin-bottom: 5px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-text {
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the text horizontally */
}

@media (min-width: 1270px) {
  .owl-theme .owl-dots {
    position: relative;
    bottom: 50px;
  }
}
@media (max-width: 991px) {
  .full-screen {
    padding-bottom: 4rem;
  }

  .color-mode {
    display: none;
  }

  .about-image {
    margin-top: 4em;
  }

  .mobile-mt-2,
  .contact-form {
    margin-top: 2em;
  }

  .contact-info {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
    text-align: center;
  
  }

  .animated-item {
    font-size: 28px;
  }

  .navbar-collapse {
    background: #ffffff;
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 3px 20px;
  }
}
@media (max-width: 580px) {
	.animated-info {
		min-width: 200px;
	}
  .animated-item {
    font-size: 30px;
  }

  .custom-btn-group {
    text-align: center;
  }

  .custom-btn {
    display: block;
    margin: 10px 0;
  }

  .owl-theme .owl-nav {
    display: none;
  }

  .timeline-info small {
    display: block;
    margin: 10px 0 0 0;
  }
}
@media (max-width: 320px) {
  .animated-text {
    margin-top: 0;
  }

  .about-text {
    text-align: center;
    max-width: 600px; /* Adjust the maximum width as needed */
  margin: 0 auto;
  }

  .full-screen {
    padding: 4rem 0;
  }

  .mobile-block {
    display: block;
  }

  .contact-info {
    flex-direction: column;
  }

  .social-links li {
    display: inline-block;
    vertical-align: top;
  }
 
}
